.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 50px;
  width: 80%;

  &-liked {
    display: flex;
    align-items: center;

    &__btn {
      width: 50px;
      height: 50px;
      margin-right: 25px;
      background-color: #fff;
      border-radius: 50%;
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/1200px-Heart_coraz%C3%B3n.svg.png");
      background-size: 15px 15px;
      background-position: center;
      background-repeat: no-repeat;
      transform: matrix(0, 0, 0, 0, 0, 0);

      & img {
        width: 15px;
        height: 15px;
      }
    }

    &__text {
      position: relative;
      text-transform: uppercase;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 100;
      padding-right: 25px;
      transform: matrix(0, 0, 0, 0, 0, 0);

      &::after {
        position: absolute;
        width: 40px;
        height: 1px;
        top: 50%;
        left: 80px;
        content: "";
        background-color: #000;
      }
    }
  }

  &-links {
    display: flex;
    align-items: center;

    &__item {
      width: 30px;
      height: 30px;
      margin: 0 10px;
      background-color: #0000ff;
      border-radius: 50%;
      opacity: 1;
    }
  }

  &__share {
    img {
      max-width: 30px;
    }
  }
}
